.topContainer {
  background: url(../Images/oracal.gif);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-color: black;
}

.wiseMan {
  margin-top: 0;
  padding: 0;

  flex-grow: auto;
}

.mainContainer {
  display: flex;
  color: white;
  font-size: 3rem;
}

.form-group {
  flex-grow: 0.4;
  width: 1rem;
  margin-top: 3rem;
}

.submitBtn {
  margin-top: 1rem;
}